{% extends "core/base.html" %}
{% load static %}
{% block title %}Contact Info{% endblock %}
{% block content %}

<section class="section contact">

    <div class="row gy-4">

      <div class="col-xl-6">

        <div class="row">
          <div class="col-lg-6">
            <div class="info-box card">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>Githunguri, Utawala<br>Nairobi, KE 00100</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="info-box card">
              <i class="bi bi-telephone"></i>
              <h3>Call Us</h3>
              <p>+(254) 799 389806<br>+(254) 750 602445</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="info-box card">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>davidnjihia536@gmail.com<br>bigaddict.hb@gmail.com</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="info-box card">
              <i class="bi bi-clock"></i>
              <h3>Open Hours</h3>
              <p>Monday - Friday<br>9:00AM - 09:00PM</p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-6">
        <div class="card p-4">
          <form action="{% url "contacts" %}" method="post" class="row g-3 needs-validation border border-2" novalidate>
            {% csrf_token %}
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="Name" name="name" required>
                    <label for="Name" class="fw-bold">Your Name</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="Email" name="email">
                    <label for="Email" class="fw-bold">Email address</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="Subject" name="subject">
                    <label for="Subject" class="fw-bold">Subject</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="tel" class="form-control" id="Telephone" name="phone_number">
                    <label for="Telephone" class="fw-bold">Phone Number</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                  <textarea class="form-control" style="height: 100px" name="message" id="Message" required></textarea>
                  <label for="Message" class="fw-bold">Message</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

      </div>

    </div>

</section>

{% endblock %}